.backgroundcolorSteelBlue {
  background-color: SteelBlue;
}
.backgroundcolorDarkViolet {
  background-color: DarkViolet;
}
.backgroundcolorDeepPink {
  background-color: DeepPink;
}
#CB {
  margin-left: 90px;
}
.listCard {
  padding-left: 5%;
}
